body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

.bienvenida {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.informacion {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.descargas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.descarga {
    background-color: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.descarga h2 {
    margin-top: 0;
    color: #fff;
}

.descarga a img {
    max-width: 100px;
    height: auto;
}

.video {
    display: block;
    margin: 20px auto;
    width: 80%; /* Ajusta el ancho del vídeo según sea necesario */
    max-width: 800px; /* Establece el ancho máximo del vídeo */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
