.bienvenida {
    background-color: black;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-70%);
    padding: 1%;
    font-size: 65pt;
    color: yellow;
}

.escritorio {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.movil {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: blanchedalmond;
    font-size: 18pt;
    overflow: auto;
}

.informacion {
    position: absolute;
    background: whitesmoke;
    width: auto;
    height: auto;
    padding: 1%;
    opacity: 0.8;
    left: 15%;
    top: 70%;
    transform: translate(1%, -60%);
    font-size: 25pt;
}

.uno, .dos, .tres {
    position: absolute;
    right: 5%;
    top: 110%;
    background-color: greenyellow;
    width: 200px;
    height: 100px;
}

.dos {
    top: 150%;
    background-color: red;
}

.tres {
    top: 190%;
    background-color: blueviolet;
}

.video {
    position: absolute;
    right: 0%;
    top: 250%;
    width: 1280px;
    height: 720px;
}

footer {
    position: absolute;
    bottom: 0;
    color: black;
    font-size: 20pt;
    background-color: blue;
}

@media only screen and (max-width: 1280px) {
    .escritorio {
        display: none;
    }
    
    .movil {
        display: block;
    }
    
    .uno, .dos, .tres {
        position: absolute;
        right: 5%;
        width: 200px;
        height: 100px;
    }
    
    .dos {
        top: 160%;
    }
    
    .tres {
        top: 190%;
    }
    
    .informacion {
        font-size: 12pt;
        left: 8%;
        top: 40%;
    }
    
    .video {
        width: 360px;
        height: 180px;
    }
    
    footer {
        position: absolute;
        bottom: 0;
        color: cyan;
        background-color: black;
    }
        }
